
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 30% 97%;
    --foreground: 36 40% 17%;

    --card: 36 30% 97%;
    --card-foreground: 36 40% 17%;

    --popover: 36 30% 97%;
    --popover-foreground: 36 40% 17%;

    --primary: 14 65% 50%;
    --primary-foreground: 36 30% 97%;

    --secondary: 165 21% 46%;
    --secondary-foreground: 36 30% 97%;

    --muted: 36 20% 90%;
    --muted-foreground: 36 30% 40%;

    --accent: 27 71% 63%;
    --accent-foreground: 36 40% 17%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 36 30% 97%;

    --border: 36 20% 87%;
    --input: 36 20% 87%;
    --ring: 36 40% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-healz-cream text-healz-brown;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-medium text-healz-brown;
  }
}
